@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}

Button{
  font-size: 25;
  horizontal-align: center;
  
  
}

.title{
  font-size: 30;
  horizontal-align: center;
  margin: 20;

}

.subtitle{
  font-size: 20;
  margin-left: 10;

}

.text-normal{
  font-size: 15;
  margin: 5;
}

Label{
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 10;
  font-size: 15;
}
